body {
  background-color: black;
}

.header {
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  color: white;

}

a {
  color: aquamarine;
  text-decoration: underline;

  font-size: 16px;
  margin: 0 auto;
}

.phone {
  text-align: center;
  margin-top: 25px;
}